*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(135deg,#fffbfa,#0d2cc7,#3102da);
    display:flex;
    justify-content:center;
    align-items:center;
}

.main{
    text-align:center;
    width:100%;
}

h1{
    color:white;
    font-size:42px;
    margin-bottom:5px;
}

.main p{
    color:#ffecec;
    font-size:18px;
    margin-bottom:25px;
}

.card{
    width:600px;
    margin:auto;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 25px 50px rgba(0,0,0,0.4);
}

.card h2{
    margin:20px 0 15px;
    color:#7b2ff7;
}

.mentor{
    padding:18px;
    border-radius:12px;
    color:white;
    margin-bottom:15px;
}

.mentor h3{
    font-size:20px;
}

.mentor span{
    font-size:14px;
}

.mentor p{
    margin-top:8px;
}

.one{
    background: linear-gradient(45deg,#36d1dc,#5b86e5);
}

.two{
    background: linear-gradient(45deg,#ff9966,#ff5e62);
}

form input, form textarea{
    width:95%;
    padding:14px;
    margin-top:12px;
    font-size:16px;
    border-radius:10px;
    border:1px solid #ccc;
}

form textarea{
    height:120px;
}
button{
    margin-top:20px;
    padding:14px 45px;
    font-size:18px;
    background: linear-gradient(45deg,#7b2ff7,#dd2476);
    color:white;
    border:none;
    border-radius:30px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}




